.container{
display: flex;
flex-direction: column;
align-items: center;
}

.loaderWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  width: 100%;
}

.carsGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 48px 32px;
  width: 100%;
  margin-bottom: 80px;
}

.emptyState {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px 0;
  text-align: center;
  width: 100%;
  gap: 20px;
}

.emptyIcon {
  font-size: 64px;
  margin-bottom: 20px;
}

.loadMoreContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 124px;
}

.btn.btn-loader {
  margin-bottom: 0;
}